<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="target" value="C:\local_agents"/>
    <add key="estream" value="C:\eStream\SQLAccounting\DB"/>
    <add key="datespan" value="7"/>
    <add key="dbuser" value="SYSDBA"/>
    <add key="dbpassword" value="masterkey"/>
    <add key="uuid" value=""/>
    <add key="api" value="https://api-staging.dhome.io/v1.0/external-bill"/>
    <add key="payments" value="https://api-staging.dhome.io/v1.0/adyen-payment"/>
    <add key="receipts" value="https://api-staging.dhome.io/v1.0/import-receipts"/>
  </appSettings>
</configuration>